<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<body>
<header th:replace="/commons/layout :: header_nav"></header>
<div class="row py-2">
    <div class="col-6 mx-auto">
        <h5 class="text-center py-1"> Create new Customer</h5>
        <div class="text-center">
            <span class="message text-success" th:text="${success}"></span>
        </div>
        <div class="container mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
            <form th:action="@{/customers/save}" th:object="${customerDto}" method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" th:field="*{name}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </div>
                <div class="form-group">
                    <label>Customer Code</label>
                    <input class="form-control" type="text" th:field="*{customerCode}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('customerCode')}"
                           th:errors="*{customerCode}"></small>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input class="form-control" type="date" step="any" th:field="*{birthday}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('birthday')}"
                           th:errors="*{birthday}"></small>
                </div>
                <div class="form-group">
                    <label>Id Card</label>
                    <input class="form-control" type="number" th:field="*{idCard}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('idCard')}"
                           th:errors="*{idCard}"></small>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control" type="number" th:field="*{phone}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('phone')}"
                           th:errors="*{phone}"></small>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" th:field="*{email}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></small>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" type="text" th:field="*{address}"/>
                    <small Class="text-danger" th:if="${#fields.hasErrors('address')}"
                           th:errors="*{address}"></small>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select th:field="*{gender}"
                            class="form-control">
                        <option value="-1">Other</option>
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                    </select>
                    <small Class="text-danger" th:if="${#fields.hasErrors('gender')}"
                           th:errors="*{gender}"></small>
                </div>
                <div class="form-group">
                    <label>Customer Type</label>
                    <select th:field="*{customerType}"
                            class="form-control">
                        <option th:value="null"
                        >Select Type
                        </option>
                        <option th:each="row :${customerTypes}"
                                th:value="${row.id}"
                                th:text="${row.type}"
                        >
                        </option>
                    </select>
                    <small Class="text-danger" th:if="${#fields.hasErrors('customerType')}"
                           th:errors="*{customerType}"></small>
                </div>

                <div class="col-sm-6 mx-auto">
                    <button type="submit" class="btn btn-primary btn-block">+ Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="/commons/layout :: footer"></footer>
</body>
</html>