<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<body>
<header th:replace="/commons/layout :: header_nav"></header>
<div class="main-wrapper ">
    <div class="container">
        <div class="row ">
            <div class="section-title">
                <p class="mt-3">Searching customer </p>
                <form class="form-inline my-lg-0" th:action="@{/customers}">
                    <div class="row">
                        <div class="col">
                            <input class="form-control mr-sm-2" type="search" placeholder="name" aria-label="Search"
                                   th:name="name"
                                   th:value="${nameVal}">
                        </div>
                        <div class="col">
                            <input class="form-control mr-sm-2" type="search" placeholder="Phone" aria-label="Search"
                                   th:name="phone"
                                   th:value="${phoneVal}">
                        </div>
                        <div class="col">
                            <select th:name="customerType"
                                    class="form-control">
                                <option value="-1"
                                >Select customerType
                                </option>
                                <option th:each="customerType :${customerTypes}"
                                        th:value="${customerType.id}"
                                        th:text="${customerType.type}"
                                >
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row col-12">
                <p class="message text-success" th:text="${success}"></p>
            </div>
            <table class="table table-borderless table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id Card</th>
                    <th scope="col">Customer Type</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">View</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${customers}" class="">
                    <td th:text=" ${(customers.number *5) + rowStat.count}"></td>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.phone}"></td>
                    <td th:text="${row.email}"></td>
                    <td th:text="${row.idCard}"></td>
                    <td>
                        <span th:if="${row.customerType}" th:text="${row.customerType.type}"></span>
                        <span th:unless="${row.customerType}" th:text="${row.customerType}"></span>
                    </td>
                    <td><a th:href="@{/customers/{id}/edit(id=${row.getId()})}"
                           class="btn btn-outline-warning">
                        edit
                    </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                                th:attr="onclick=|deleteCustomer(${row.id},'${row.name}')|"
                        >
                            Delete
                        </button>
                    </td>
                    <td><a th:href="@{/customers/{id}/view(id=${row.getId()})}"
                           class="btn btn-outline-info">
                        view
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--        paging-->
        <nav class="d-flex justify-content-center py-3">
            <ul class="pagination">
                <li th:if="${customers.hasPrevious()}" class="page-item active px-1">
                    <a th:href="@{/customers(page=${customers.number - 1},
                                    name=${nameVal},
                                    phone=${phoneVal},
                                    customerType=${customerTypeVal})}" class="page-link">Previous</a>
                </li>
                <li th:unless="${customers.hasPrevious()}" class="page-item disabled px-1">
                    <a th:href="@{/customers(page=${customers.number - 1},
                                    name=${nameVal},
                                    phone=${phoneVal},
                                    customerType=${customerTypeVal})}" class="page-link">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        <span th:text="${customers.number +1}"></span>
                        <span>/</span>
                        <span th:text="${customers.totalPages}"></span>
                    </a>
                </li>
                <li th:if="${customers.hasNext()}" class="page-item active px-1">
                    <a th:href="@{/customers(page=${customers.number + 1},
                                    name=${nameVal},
                                    phone=${phoneVal},
                                    customerType=${customerTypeVal})}" class="page-link">Next</a>
                </li>
                <li th:unless="${customers.hasNext()}" class="page-item disabled px-1">
                    <a th:href="@{/customers(page=${customers.number + 1},
                                    name=${nameVal},
                                    phone=${phoneVal},
                                    customerType=${customerTypeVal})}" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
        <!--        paging-->

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete customer
                    <span class="text-danger font-weight-bold" id="nameDelete"></span>
                </p>
            </div>
            <div class="modal-footer">
                <div class="mx-auto row">
                    <form th:action="@{/customers/delete}" method="post">
                        <input type="hidden" name="id" id="idDelete">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/commons/layout :: footer"></footer>
<div th:replace="commons/layout :: scroll-to-top"></div>
</body>
<th:block th:replace="/commons/layout :: script"></th:block>
</html>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = " " + name + "?";
    }
</script>

