<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<body>
<header th:replace="/commons/layout :: header_nav"></header>

<div class="container-fluid row">
    <div class="py-2 text-center mx-auto">
        <h1 class="py-1 text-danger"> Access Denied</h1>
        <hr class="" style="margin:auto;width:50%">
        <br>
        <br>
        <p th:if="${message != null}" th:text="${message}"></p>
        <p>
            You dont have permission to access this site.</p>
        <p>
            Please contact the administrator!
        </p>
    </div>
</div>
<footer th:replace="/commons/layout :: footer"></footer>
</body>

</html>