<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<body>
<header th:replace="/commons/layout :: header_nav"></header>
<div class="main-wrapper ">
    <div class="container">
        <div class="row ">
            <div class="section-title">
                <h5 class="mt-3 content-title ">Index Pgae </h5>
                <p>Em rất thích ngắm nhìn những cơn mưa mùa xuân. Mưa xuân không vội vã, ồn ào như mưa hạ. Mưa xuân dịu dàng, chầm chậm, mang đến cảm giác bình yên và thư thái trong tâm hồn. Những hạt mưa bắt đầu rơi, hạt mưa nhỏ, lất phất trong gió, vương những giọt long lanh trên cánh đào mỏng manh, trên những chồi non cây lá.

                    Mưa phảng phất trong không gian ấm áp của mùa xuân, nhè nhẹ, nhè nhẹ. Mưa dần buông những hạt cuối cùng, vạn vật được mưa tắm mắt trở nên căng tràn sức sống. Cánh mai vàng nhờ thưởng thức hạt ngọc tinh túy của bầu trời mà tươi tắn hơn. Chồi non mơn mởn, xanh biếc. Nương lúa, bãi ngô của người nông dân cũng mướt xanh. Mưa xuân diệu kỳ còn mang đến cho lòng người niềm vui khoan khoái, yêu biết bao nhiêu những cơn mưa xuân tuyệt vời như thế.
                    Khi bóng chiều đổ xuống cũng là lúc những chú bé mục đồng dẫn trâu về làng. Từng đàn trâu nối nhau bước đi trên con đê xanh mướt cỏ. Tiếng sáo du dương bay khắp không gian. Phía xa xa, trên bầu trời, đàn cò trắng bay về tổ sau một ngày kiếm ăn vất vả. Ông mặt trời đỏ rực đang lặn dần sau rặng tre.

                    Ráng chiều đỏ rực cả một vùng rộng lớn. Các bác nông dân sau một ngày làm việc vất vả cũng đang trở về. Cảnh vật làng quê nhuốm màu hoàng hôn trông thật mờ ảo và đẹp tựa như một bức tranh của một họa sĩ nổi tiếng nào đó.
                    Ngôi trường của em đang học có nhiều bóng mát cây xanh và ghế đá ở sân trường, em mến yêu ngôi trường của em và em đến đây để học hằng ngày.

                    Trường em đang học gồm có 5 dãy nhà, gồm có 4 dãy phòng học và một dãy dành cho Ban Giám hiệu nhà trường. Ngoài ra, trường em đang học cũng có một khoảng sân rất rộng lớn với những hàng cây mới trồng những cũng đã khá lớn. Em mong sao cây lớn thật nhanh để có thể che bóng mát cho chúng em những giờ ra chơi. Cột cờ của trường em đang học nằm ở sân trường, nơi lá cờ tổ quốc tung bay trong gió. Chúng em đều được làm lễ chào cờ vào mỗi sáng thứ hai mỗi tuần.

                    Vì là ngôi trường mới nên các phòng học và các vật dụng đều mới tinh, sạch sẽ thơm mùi gỗ mới… Em và các bạn luôn luôn ý thức không vẽ bậy trên tường, xả rác và luôn giữ gìn trường học sạch đẹp như bây giờ. Đến ngôi trường của em đang học, cô giáo dạy chúng em những điều hay, khám phá nhiều điều mới lạ. Cô giáo dặn chúng em phải luôn chấp hành nội quy của nhà trường, và chúng em không xả rác để ngôi trường của em luôn sạch sẽ.

                    Tuần nào ba mẹ cũng đưa em đến trường, em được gặp được có bạn để chơi chứ không như ở nhà.
                    Khi mùa thu về, bầu trời trong xanh và cao vời vợi. Nắng không còn gay gắt như những ngày hè oi bức, mà trở nên chan hòa hơn. Làn gió heo may kéo về khiến cho thời tiết se lạnh. Cô mây thì dạo chơi quanh những ngọn núi phía xa. Ông mặt trời dậy thật sớm để đánh thức mọi người sau một đêm dài. Vài chú chim nhỏ cất tiếng hót đón chào ngày mới.

                    Phía xa ngoài cánh đồng, những bông lúa trĩu nặng đang đung đưa theo làn gió mát từ xa thổi vào. Hương lúa chín thơm mang hơi thở của làng quê khiến ai ngửi thấy cũng đều say mê. Đâu đó trên khắp phố phường, hương hoa sữa nồng nàn. Không khí mùa thu khiến cho con người cảm thấy thật dễ chịu, nhẹ nhàng. Không dừng lại ở đó, mùa thu còn có những kí ức đẹp đẽ của tuổi thơ tôi.

                    Đó là đêm trăng Trung thu được rước đèn, phá cỗ thật vui vẻ. Đặc biệt nhất, mùa thu cũng là mùa tựu trường. Sau một kì nghỉ hè dài, học trò được gặp lại thầy cô, bạn bè. Cảm xúc hân hoan, háo hức biết bao. Có thể nói, mùa thu là mùa tuyệt vời nhất trong năm.</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/commons/layout :: footer"></footer>
<div th:replace="commons/layout :: scroll-to-top"></div>
</body>
<th:block th:replace="/commons/layout :: script"></th:block>
</html>

<script>
    function deleteProduct(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = " " + name + "?";
    }
</script>