<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<body>
<header th:replace="/commons/layout :: header_nav"></header>

<div class="container-fluid row">
    <div class="py-2 text-center mx-auto">
        <h1 class="py-1 text-warning"> Not Found</h1>
        <hr class="" style="margin:auto;width:50%">
        <br>
        <br>
        <p>
            Something's wrong, your request can not handle at this time.</p>
        <p>
            Please try again later!
        </p>
    </div>
</div>
<footer th:replace="/commons/layout :: footer"></footer>
</body>

</html>