
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header_nav"></header>
<div class="container-fluid row">
    <div class=" text-center mx-auto">
        <h2 class="py-1 text-danger"> Access Denied</h2>
        <br>
        <br>
        <p>
            you do not have access to this page.</p>
        <p>
            Please contact the administrator!
        </p>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
<th:block th:replace = "layout :: script"></th:block>
</html>

