<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<header th:replace="/layout :: header_nav"></header>
<div class="main-wrapper ">
    <div class="container">
        <div class="row ">
            <div class="section-title">
                <h5 class="mt-3 content-title ">Product list </h5>
                <form class="form-inline my-2 my-lg-0" th:action="@{/}">
                    <div class="row">
                        <div class="col">
                            <input class="form-control mr-sm-2" type="search" placeholder="name" aria-label="Search"
                                   th:name="keyword1"
                            th:value="${keywordVal1}">
                        </div>
                        <div class="col">
                            <input class="form-control mr-sm-2" type="search" placeholder="Description" aria-label="Search"
                                   th:name="keyword3"
                                   th:value="${keywordVal3}">
                        </div>
                        <div class="col">
                            <select th:name="keyword2"
                                    class="form-control" >
                                <option value="-1"
                                >Select Manufacturer
                                </option>
                                <option th:each="manufacturer :${manufacturers}"
                                        th:value="${manufacturer.id}"
                                        th:text="${manufacturer.name}"
                                >
                                </option>
                            </select>
                            <!--                            <input class="form-control mr-sm-2" type="search" placeholder="manufacturer" aria-label="Search" th:name="keyword2">-->
                        </div>

                        <div class="col">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <div class="form-group row">
                    <span class="message text-success" th:text="${success}"></span>
                </div>
            </div>
            <table class="table table-borderless table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Imei</th>
                    <th scope="col">Description</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">View</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${products}" class="">
                    <td th:text=" ${(products.number *5) + rowStat.count}"></td>
                    <td th:text="${row.getName()}"></td>
                    <td th:text="${row.getPrice()}"></td>
                    <td th:text="${row.getImei()}"></td>
                    <td th:text="${row.getDescription()}"></td>
                    <td>
                        <span th:if="${row.manufacturer}" th:text="${row.manufacturer.name}"></span>
                        <span th:unless="${row.manufacturer}" th:text="${row.manufacturer.name}"></span>
                    </td>
                    <td><a th:href="@{/{id}/edit(id=${row.getId()})}"
                           class="btn btn-outline-warning">
                        edit
                    </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                                th:attr="onclick=|deleteProduct(${row.id},'${row.name}')|"
                        >
                            Delete
                        </button>
                    </td>
                    <td><a th:href="@{/{id}/view(id=${row.getId()})}"
                           class="btn btn-outline-info">
                        view
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--        paging-->
        <nav class="d-flex justify-content-center py-3">
            <ul class="pagination">
                <li th:if="${products.hasPrevious()}" class="page-item active px-1">
                    <a th:href="@{/(page=${products.number - 1},
                                    keyword1=${keywordVal1},
                                    keyword2=${keywordVal2},
                                    keyword3=${keywordVal3})}" class="page-link">Previous</a>
                </li>
                <li th:unless="${products.hasPrevious()}" class="page-item disabled px-1">
                    <a th:href="@{/(page=${products.number - 1},
                                    keyword1=${keywordVal1},
                                    keyword2=${keywordVal2},
                                    keyword3=${keywordVal3})}" class="page-link">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link">
                        <span th:text="${products.number +1}"></span></a></li>

                <li class="page-item">
                    <a class="page-link">
                        <span>/</span></a></li>
                <li class="page-item">
                    <a class="page-link">
                        <span th:text="${products.totalPages}"></span></a></li>

                <li th:if="${products.hasNext()}" class="page-item active px-1">
                    <a th:href="@{/(page=${products.number + 1},
                                    keyword1=${keywordVal1},
                                    keyword2=${keywordVal2},
                                    keyword3=${keywordVal3})}" class="page-link">Next</a>
                </li>
                <li th:unless="${products.hasNext()}" class="page-item disabled px-1">
                    <a th:href="@{/(page=${products.number + 1},
                                    keyword1=${keywordVal1},
                                    keyword2=${keywordVal2},
                                    keyword3=${keywordVal3})}" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
        <!--        paging-->

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete product
                    <span class="text-danger font-weight-bold" id="nameDelete"></span>
                </p>
            </div>
            <div class="modal-footer">
                <div class="mx-auto row">
                    <form th:action="@{/delete}" method="post">
                        <input type="hidden" name="id" id="idDelete">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
<th:block th:replace="/layout :: script"></th:block>
</html>

<script>
    function deleteProduct(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = " " + name + "?";
    }
</script>